ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 40px;
   
  }
  
  li {
    float: left;
    margin-right: 40px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 12px;
    text-decoration: none;
  }

  li a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
  }

  .navbar{
      display: flex;
      justify-content: space-between;
      position: absolute;
      z-index: 100;
      width: 100%;
      margin-top:20px;
  }

  .logo-image{
    width: 40%;
    height: auto;
  }

  .list{
      align-self: center;
      margin-left: 100px;
  }